<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="firstController">
    <input type="text" ng-model="name"/><span>{{count}}</span>次
    <div>{{name}}</div>
    <input type="text" ng-model="data.name"/><span>{{data.count}}</span>次
    <div>{{data.name}}</div>
</body>
<script src="../vendor/angular/angular.js" language="javascript" type="text/javascript"></script>
<script src="index.js" language="javascript" type="text/javascript"></script>
</html>