<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css"/>
</head>
<body ng-controller="firstController">
<div class="container">
    <table class="table" ng-show="cart.length">
        <thead>
        <tr>
            <td>产品编号</td>
            <td>产品名称</td>
            <td>购买数量</td>
            <td>产品单价</td>
            <td>产品总价</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <button class="btn btn-primary" ng-click="reduce(item.id)">-</button>
                <input type="text" value="{{item.quantity}}" ng-model="item.quantity"/>
                <button class="btn btn-primary" ng-click="add(item.id)">+</button>
            </td>
            <td>{{item.price}}</td>
            <td>{{item.price*item.quantity}}</td>
            <td><button type="button" ng-click="remove(item.id)" class="btn btn-danger">移除</button></td>
        </tr>
        <tr>
            <td>购买总价</td>
            <td>{{totalPrice()}}</td>
            <td>购买数量</td>
            <td>{{totalQuantity()}}</td>
            <td colspan="2"><button type="button" ng-click="cart=[]" class="btn btn-danger">清空购物车</button></td>
        </tr>
        </tbody>
    </table>
    <p ng-show="!cart.length">购物车中没有商品</p>
</div>
</body>
<script src="../vendor/angular/angular.js" language="javascript" type="text/javascript"></script>
<script src="index.js" language="javascript" type="text/javascript"></script>
</html>